@charset "UTF-8";
/*Root*/
:root {
  /*Шрифты*/
  --main-font: "Roboto",sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /*Светлая тема текста*/
  --primary-light-txt: #212121;
  --secondary-light-txt: #757575;
  --accent-txt: #2196F3;
  --logo-light-txt: #000000;
  --logo-dark-txt: #ffffff;
  /*Темная тема текста*/
  --primary-dark-txt: #ffffff;
  --secondary-dark-txt:#C4C4C4;
  /*Светлая тема фона*/
  --primary-light-bg: #E5E5E5;
  --secondary-light-bg: #F5F4FA;
  /*Темная тема фона*/
  --primary-dark-bg: #2F303A;
  /*Обычный цвет иконок команды*/
  --icon-primary: #AFB1B8;
  --secondary-footer-txt: rgba(255, 255, 255, 0.6);
  /*Modal window black theme*/
  --modal-primary: #212121;
  /*Анимации*/
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active--page::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background: var(--accent-txt);
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-light-txt);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

/*Button*/
.button {
  width: 200px;
  height: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.button--footer {
  margin-left: 12px;
}
.button--hat {
  margin-left: auto;
  margin-right: auto;
}
.button--default {
  background-color: var(--accent-txt);
  color: white;
}
.button__icon {
  fill: white;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Socials*/
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials--crew {
  padding: 0 32px 30px;
}
.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials__item {
  margin-right: 10px;
}
.socials__item:last-child {
  margin: 0;
}
.socials__link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
}
.socials__link:last-child {
  margin: 0;
}
.socials .link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
}
.socials__icon {
  margin: auto auto;
  -webkit-transition: fill var(--main-animation);
  transition: fill var(--main-animation);
}
.socials--icon {
  fill: var(--icon-primary);
}
.socials__link:focus .socials--icon, .socials__link:hover .socials--icon {
  fill: #ffffff;
}
.socials__link:focus, .socials__link:hover {
  background-color: var(--accent-txt);
  cursor: pointer;
}
.socials--footer {
  margin-left: 72px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.socials--footer--caption {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.socials--dark--txt {
  color: var(--logo-dark-txt);
}
.socials--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials--dark--icon {
  fill: var(--logo-dark-txt);
}

/*Distribution*/
.distribution {
  width: 570px;
}
.distribution__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.distribution__caption {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.distribution__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 350px;
  height: 50px;
  background-color: transparent;
  color: white;
}
.distribution--dark--txt {
  color: var(--logo-dark-txt);
}
.distribution__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.distribution__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.distribution__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.distribution__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.distribution__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

/*Contacts footer*/
.contacts .header--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.contacts--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.contacts .item--footer {
  margin-bottom: 9px;
}
.contacts .item--header {
  margin-right: 30px;
}
.contacts__item:last-child {
  margin: 0;
}
.contacts__link {
  color: var(--secondary-light-txt);
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.contacts--header--link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--main-animation);
  transition: color var(--main-animation);
}
.contacts__svg {
  fill: var(--secondary-light-txt);
  -webkit-transition: fill var(--main-animation);
  transition: fill var(--main-animation);
  margin-right: 10px;
}
.contacts--header--link:hover .contacts__svg, .contacts--header--link:focus .contacts__svg {
  fill: var(--accent-txt);
}
.contacts--header--link:hover, .contacts--header--link:focus {
  color: var(--accent-txt);
}
.contacts--address {
  color: var(--primary-dark-txt);
}
.contacts--mail, .contacts--phone {
  color: var(--secondary-footer-txt);
}
.contacts .footer--geoposition {
  margin-top: 20px;
}

/*Logo*/
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo--white {
  color: var(--logo-dark-txt);
}
.logo--blue {
  color: var(--accent-txt);
}
.logo--dark {
  color: var(--logo-light-txt);
}

.title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-light-txt);
}

/*Navigation*/
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-header {
  margin-left: 93px;
}

.nav__item {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.nav__item:last-child {
  margin: 0;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-light-txt);
  -webkit-transition: color var(--main-animation);
  transition: color var(--main-animation);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-txt);
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--main-animation), visibility var(--main-animation);
  transition: opacity var(--main-animation), visibility var(--main-animation);
  z-index: 100;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}
.modal-phrase {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--modal-primary);
}
.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 6px;
  margin: 8px;
  cursor: pointer;
  pointer-events: auto;
}
.modal .close-icon-link {
  width: 18px;
  height: 18px;
}
.modal .close-icon {
  width: 16px;
  height: 16px;
}
.modal-form {
  pointer-events: auto;
  margin-top: 12px;
  margin-bottom: 20px;
}
.modal-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.modal-form-list {
  margin-bottom: 20px;
}
.modal-form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-light-txt);
}
.modal-form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
  -webkit-transition: fill var(--main-animation);
  transition: fill var(--main-animation);
}
.modal-form-input:hover, .modal-form-input:focus, .modal-form-input:focus-visible, .modal-form-input:active {
  border: 1px solid #2196F3;
  border-radius: 4px;
  outline: none;
}
.modal-form-input:hover + .modal-form-icon, .modal-form-input:focus + .modal-form-icon, .modal-form-input:focus-visible + .modal-form-icon, .modal-form-input:active + .modal-form-icon {
  fill: var(--accent-txt);
}
.modal-form-icon {
  position: absolute;
  left: 12px;
  bottom: 12px;
}
.modal-form-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
}
.modal-form-textarea:hover, .modal-form-textarea:focus, .modal-form-textarea:focus-visible, .modal-form-textarea:active {
  border: 1px solid #2196F3;
  border-radius: 4px;
  outline: none;
}
.modal-form-textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea-phrase {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-light-txt);
}
.modal-form-item {
  margin-bottom: 10px;
}
.modal-form-item:last-child {
  margin-bottom: 0;
}
.modal-checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 30px;
}
.modal-checkbox-input {
  display: block;
  position: absolute;
  width: 16px;
  height: 15px;
  background: var(--modal-primary);
  left: 12px;
  border-radius: 2px;
}
.modal-checkbox-icon {
  fill: white;
  -webkit-transition: fill var(--main-animation);
  transition: fill var(--main-animation);
  padding: 4px 2px 3px 3px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  left: 12px;
  border-radius: 2px;
  cursor: pointer;
}
.modal-checkbox-input:checked + .modal-checkbox-icon {
  fill: white;
  background-color: var(--accent-txt);
}
.modal-checkbox-phrase {
  margin-left: 33px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-light-txt);
  cursor: pointer;
}
.modal-checkbox-link {
  font-size: 14px;
  line-height: 1.71;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}
.modal-form-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
  cursor: pointer;
}
.modal-form-button:hover, .modal-form-button:focus {
  background: #188CE8;
}

/*Хедер*/
.header {
  border-bottom: solid 1px #ECECEC;
}

.header-logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}

.header--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header--contacts {
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Команда*/
.crew {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-light-bg);
}
.crew--title {
  margin-bottom: 50px;
}
.crew__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.crew__item {
  margin-right: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.crew__item:last-child {
  margin: 0;
}
.crew__member--wrapper {
  padding-top: 30px;
  padding-bottom: 16px;
}
.crew__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.crew .primary--txt--light {
  color: var(--primary-light-txt);
}
.crew__occupation {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/*Клиенты*/
.clients--title {
  margin-bottom: 50px;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.clients__item {
  -ms-flex-preferred-size: 16.6666666667%;
      flex-basis: 16.6666666667%;
  border: 1px solid var(--icon-primary);
  min-width: 170px;
  min-height: 92px;
  border-radius: 4px;
}
.clients__item:hover {
  border: 1px solid var(--accent-txt);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-txt);
}
.clients__link {
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clients__icon {
  fill: var(--icon-primary);
}

/*Футер*/
.footer {
  background-color: var(--primary-dark-bg);
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer--logo {
  margin-bottom: 20px;
}
.footer--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*Проэкты*/
.projects {
  padding-bottom: 94px;
}
.projects--title {
  margin-bottom: 50px;
}
.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projects__item--wrapper {
  position: relative;
  height: 294px;
}
.projects__item {
  margin-right: 30px;
  height: 294px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.projects__item:last-child {
  margin: 0;
}
.projects__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: var(--primary-dark-txt);
  background: rgba(47, 48, 58, 0.8);
}

/*Секция особенности*/
.speciality__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.speciality__item {
  margin-right: 30px;
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
}
.speciality__item:last-child {
  margin: 0;
}
.speciality__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  background-color: var(--secondary-light-bg);
}
.speciality__icon {
  margin: 25px auto;
}
.speciality__list:last-child {
  margin: 0;
}
.speciality__character {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-light-txt);
  margin-bottom: 10px;
}
.speciality__phrase {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-light-txt);
}

/*Секция шапка*/
.hat {
  background-color: var(--primary-dark-bg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hat/hat-background-photo.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hat/hat-background-photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hat__phrase {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-dark-txt);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  /*border: 1px solid #000000;*/
}

/*Портфолио*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-light-txt);
  font-family: inherit;
  padding: 6px 22px;
  -webkit-transition: background-color var(--main-animation), color var(--main-animation);
  transition: background-color var(--main-animation), color var(--main-animation);
  border: none;
}
.portfolio-button-item:hover, .portfolio-button-item:focus {
  cursor: pointer;
  background-color: var(--accent-txt);
  color: #ffffff;
}
.portfolio-item {
  margin-right: 8px;
}
.portfolio-item:last-child {
  margin: 0;
}
.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.portfolio-list-item {
  border: 1px solid #EEEEEE;
  max-width: 370px;
}
.portfolio-image-wrapper {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.portfolio-image-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 55%;
  padding: 63px 24px;
  color: var(--primary-dark-txt);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--main-animation);
  transition: -webkit-transform var(--main-animation);
  transition: transform var(--main-animation);
  transition: transform var(--main-animation), -webkit-transform var(--main-animation);
}
.portfolio-list-item:hover .portfolio-image-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio-list-item {
  -webkit-transition: -webkit-box-shadow var(--main-animation);
  transition: -webkit-box-shadow var(--main-animation);
  transition: box-shadow var(--main-animation);
  transition: box-shadow var(--main-animation), -webkit-box-shadow var(--main-animation);
}
.portfolio-list-item:hover, .portfolio-list-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: help;
}
.portfolio-list-wrapper {
  padding: 20px 24px;
}
.portfolio-item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-light-txt);
}
.portfolio-item-phrase {
  font-size: 16px;
  line-height: 1.87;
}/*# sourceMappingURL=main.css.map */