
/*Хедер*/
.header{
    border-bottom: solid 1px #ECECEC;
}

.header-logo{
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
}
.header-container{
    display:flex;
    align-items: center;
}

.header-link-wrapper{
    display: flex;
    margin-left: 93px;
    align-items: center;
}
.header-link-item{
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    position: relative;
}

.header-link-item:last-child{
    margin: 0;
}

.nav-link
{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-light-txt);
    transition: color var(--main-animation);
    
}
.active-page::after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background: var(--accent-txt);
    border-radius: 2px;
    bottom: 0;    
    left: 0;
}

.header-addres-wrapper{
    margin-left: auto;
    align-items: center;
   
}

.header-address-list{
    display: flex;
    justify-content: end;
}

.header-address-item{

    margin-right: 30px;

}
.header-address-item:last-child{
    margin: 0;
}

.header-address-svg{
    fill: var(--secondary-light-txt);
    transition: fill var(--main-animation);
    margin-right: 10px;
}



.head-mail:hover .header-address-svg,
.head-mail:focus .header-address-svg{
    fill: var(--accent-txt);
}

.head-phone:focus .header-address-svg,
.head-phone:hover .header-address-svg{
    fill: var(--accent-txt);
}

.nav-link:focus,
.nav-link:hover,
.head-mail:focus,
.head-mail:hover,
.head-phone:focus,
.head-phone:hover{
    color: var(--accent-txt);
    cursor: pointer;
}

.head-mail,
.head-phone{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--secondary-light-txt);
    letter-spacing: 0.02em; 
    display: flex;
    align-items: center;
    transition: color var(--main-animation);
}


/*Главный контент*/





/*Портфолио*/

.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-button-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-button-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color:var(--primary-light-txt);
    font-family: inherit;
    padding: 6px 22px;
    transition: background-color var(--main-animation), color var(--main-animation);
}
.portfolio-button-item:hover,
.portfolio-button-item:focus{
    cursor: pointer;
    background-color: var(--accent-txt);
    color: #ffffff;
}

.portfolio-item {
    margin-right: 8px;
}
.portfolio-item:last-child{
    margin: 0;
}
    
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-list-item{
    border: 1px solid #EEEEEE;
    max-width: 370px;
}

.portfolio-image-wrapper{
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
}

.portfolio-image-description{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 1,55%;
    padding: 63px 24px;
    color: var(--primary-dark-txt);
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--main-animation);
}

.portfolio-list-item:hover .portfolio-image-description{
    transform: translateY(0);
}


.portfolio-list-item{
    transition: box-shadow var(--main-animation);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: help;
}

.portfolio-list-wrapper{
    padding: 20px 24px;
   }

.portfolio-item-title{
margin-bottom: 4px;
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color:var(--primary-light-txt)
}

.portfolio-item-phrase{
font-size: 16px;
line-height: 1.87;
}





/*Modal Window*/

.backdrop{
    position:fixed;
    top:0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 1;
    visibility: visible;
    transition: opacity var(--main-animation), visibility var(--main-animation);
    z-index: 100;
}

.backdrop .is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-wrapper{
    position: absolute;
    width: 528px;
    height: 581px;
    background: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    
}
.modal-phrase{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--modal-primary);
}
.modal-button{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 6px;
    margin: 8px;
    cursor: pointer;
    pointer-events: auto;
}
.close-icon-link{
    width: 18px;
    height: 18px;
}
.close-icon{

    width: 16px;
    height: 16px;
}

.modal-form{
    pointer-events: auto;
    margin-top: 12px;
    margin-bottom: 20px;
}

.modal-input-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal-form-list{
    margin-bottom: 20px;
}

.modal-form-label{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-light-txt);
}

.modal-form-input{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
    padding-left: 42px;

    transition: background-color var(--main-animation);
    transition: fill var(--main-animation);
}

.modal-form-input:hover,
.modal-form-input:focus,
.modal-form-input:focus-visible,
.modal-form-input:active{
    border: 1px solid #2196F3;
    border-radius: 4px;
    outline:none;
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon,
.modal-form-input:focus-visible + .modal-form-icon,
.modal-form-input:active + .modal-form-icon{
    fill: var(--accent-txt);
}


.modal-form-icon{
    position: absolute;
    left: 12px;
    bottom: 12px;
}

.modal-form-textarea{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    resize: none;

    transition: background-color var(--main-animation);

}

.modal-form-textarea:hover,
.modal-form-textarea:focus,
.modal-form-textarea:focus-visible,
.modal-form-textarea:active{
    border: 1px solid #2196F3;
    border-radius: 4px;
    outline:none;
}

.modal-form-textarea::placeholder{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-textarea-phrase{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-light-txt);
}

.modal-form-item{
    margin-bottom: 10px;
}
.modal-form-item:last-child{
    margin-bottom: 0;
}


.modal-checkbox-label{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 30px;

}
.modal-checkbox-input{
    display: block;
    position: absolute;
    width: 16px;
    height: 15px;
    background: var(--modal-primary);
    left: 12px;
    border-radius: 2px;
}
.modal-checkbox-icon{
    fill: white;
    transition: fill var(--main-animation);
    padding: 4px 2px 3px 3px;
    box-sizing: content-box;
    position: absolute;
    left: 12px;
    border-radius: 2px;
    cursor: pointer;
}
.modal-checkbox-input:checked + .modal-checkbox-icon{
    fill: white;
    background-color: var(--accent-txt);
}

.modal-checkbox-phrase{
    margin-left: 33px;  
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-light-txt);
    cursor: pointer;
}

.modal-checkbox-link{
    font-size: 14px;
    line-height: 1.71;
    text-decoration-line: underline;
    color: #2196F3;

}

.modal-form-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color var(--main-animation);
    cursor: pointer;
}
.modarl-form-button:hover,
.modal-form-button:focus{
    background: #188CE8;
}



.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }



