.backdrop{
    position:fixed;
    top:0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 1;
    visibility: visible;
    transition: opacity var(--main-animation), visibility var(--main-animation);
    z-index: 100;
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal{
    position: absolute;
    width: 528px;
    height: 581px;
    background: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;

    
    &-phrase{
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        color: var(--modal-primary);
    }
    &-button{
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        padding: 6px;
        margin: 8px;
        cursor: pointer;
        pointer-events: auto;
    }
    &-button:hover,
    &-button:focus{
        fill: var(--accent-txt);
    }
    .close-icon-link{
        width: 18px;
        height: 18px;
    }
    .close-icon{
    
        width: 16px;
        height: 16px;
    }
    
    &-form{
        pointer-events: auto;
        margin-top: 12px;
        margin-bottom: 20px;
    }
    
    &-input-wrapper{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    &-form-list{
        margin-bottom: 20px;
    }
    
    &-form-label{
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: var(--secondary-light-txt);
        padding-bottom: 4px;
    }
    
    &-form-input{
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        width: 448px;
        height: 40px;
        padding-left: 42px;
        transition: background-color var(--main-animation);
        transition: fill var(--main-animation);
    }
    
    &-form-input:hover,
    &-form-input:focus,
    &-form-input:focus-visible,
    &-form-input:active{
        border: 1px solid #2196F3;
        border-radius: 4px;
        outline:none;
    }
    
    &-form-input:hover + &-form-icon,
    &-form-input:focus + &-form-icon,
    &-form-input:focus-visible + &-form-icon,
    &-form-input:active + &-form-icon{
        fill: var(--accent-txt);
    }
    
    
    &-form-icon{
        position: absolute;
        left: 12px;
        bottom: 12px;
    }
    
    &-form-textarea{
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        width: 448px;
        height: 120px;
        padding: 12px 16px;
        resize: none;
        margin-top:4px;
        transition: background-color var(--main-animation);
    
    }
    
    &-form-textarea:hover,
    &-form-textarea:focus,
    &-form-textarea:focus-visible,
    &-form-textarea:active{
        border: 1px solid #2196F3;
        border-radius: 4px;
        outline:none;
    }
    
    &-form-textarea::placeholder{
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    
    &-textarea-phrase{
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: var(--secondary-light-txt);
    }
    
    &-form-item{
        margin-bottom: 10px;
    }
    &-form-item:last-child{
        margin-bottom: 0;
    }
    
    
    &-checkbox-label{
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 30px;
    
    }
    &-checkbox-input{
        display: block;
        position: absolute;
        width: 16px;
        height: 15px;
        background: var(--modal-primary);
        left: 12px;
        border-radius: 2px;
    }
    &-checkbox-icon{
        fill: white;
        transition: fill var(--main-animation);
        padding: 4px 2px 3px 3px;
        box-sizing: content-box;
        position: absolute;
        left: 12px;
        border-radius: 2px;
        cursor: pointer;
    }
    &-checkbox-input:checked + &-checkbox-icon{
        fill: white;
        background-color: var(--accent-txt);
    }
    
    &-checkbox-phrase{
        margin-left: 33px;  
        font-size: 14px;
        line-height: 1.71;
        color: var(--secondary-light-txt);
        cursor: pointer;
    }
    
    &-checkbox-link{
        font-size: 14px;
        line-height: 1.71;
        text-decoration-line: underline;
        color: #2196F3;
    
    }
    
    &-form-button{
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        width: 200px;
        height: 50px;
        letter-spacing: 0.06em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        color: white;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        transition: background-color var(--main-animation);
        cursor: pointer;
        border: none;
    }
    &-form-button:hover,
    &-form-button:focus{
        background: #188CE8;
    }
    




















}
