/*Button*/

.button{
    width: 200px;
    height: 50px;
    font-family:var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: block;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &--footer{
        margin-left: 12px;
    }
    &--hat{
        margin-left: auto;
        margin-right: auto;
    }
    &--default{
        background-color: var(--accent-txt);
        color: white;
    }
    &__icon{
        fill: white;
    }
    
}
